/* ----------------------------------------------------------- */
/* == header */
/* ----------------------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 5.7rem;
  padding-bottom: 6rem;
}

.header__title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

/* Side
-------------------------------------------------------------- */

.header__side {
  padding-bottom: .7rem;
}

.header__sideBtn,
.header__sideBtn:visited {
  padding: 0;
  border: none;
  background: none;
  color: $color-primary;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.14em;
  cursor: pointer;
}

.header__sideBtn:hover,
.header__sideBtn:active {
  text-decoration: underline;
}
