// --------------------------------------------------------------
// == colors */
// --------------------------------------------------------------

// palette
// --------------------------------------------------------------

$color-primary: #635776;
$color-secondary: #453959;
$color-tertiary: #312334;
$color-info: #2185d0;

// texts
// --------------------------------------------------------------

$color-light-text: #fcfcfc;
$color-dark-text: $color-primary;

// links
// --------------------------------------------------------------

$color-link: $color-primary;

// greys
// --------------------------------------------------------------

$color-grey-1: #767676;
