// --------------------------------------------------------------
// == colors */
// --------------------------------------------------------------

// palette
// --------------------------------------------------------------

$color-primary: #3498db;
$color-secondary: #1abc9c;
$color-tertiary: #34495e;
$color-info: #2185d0;

// texts
// --------------------------------------------------------------

$color-light-text: #fcfcfc;
$color-dark-text: #000;

// links
// --------------------------------------------------------------

$color-link: $color-primary;

// brand
// --------------------------------------------------------------

$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-google: #dd4b39;
$color-youtube: #e52d27;
$color-pinterest: #cc2127;
$color-vimeo: #1ab7ea;
$color-linkedin: #0976b4;
$color-instagram: #3f729b;
