{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "exclude": [
          "@babel/plugin-transform-classes"
        ],
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ]
  ]
}