/**
 * Notification module
 * Namespace : .notif
 */

/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */

$notif-success: #00d1b2;
$notif-warning: #ffdd57;
$notif-error: #ff3860;

/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */

.notif {
  padding: 1em;
  border-radius: 4px;
}

.notif--success {
  background-color: $notif-success;
  color: #fff;
}

.notif--warning {
  background-color: $notif-warning;
  color: #fff;
}

.notif--error {
  background-color: $notif-error;
  color: #fff;
}
