/**
 * Notification module
 * Namespace : .notif
 */

/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */

$notif-success: #00d1b2;
$notif-warning: #ffdd57;
$notif-error: rgba(#da0000, .15);

/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */

.notif {
  margin-top: .5rem;
  padding: .5em 1em;
  border-radius: .3rem;
  font-size: 1.3rem;
}

.notif--success {
  background-color: $notif-success;
  color: #fff;
}

.notif--warning {
  background-color: $notif-warning;
  color: #fff;
}

.notif--error {
  background-color: $notif-error;
  color: #9e0000;
}
