/* ----------------------------------------------------------- */
/* == Big player */
/* ----------------------------------------------------------- */

.playerBig__player {
  position: relative;
  padding-bottom: calc(100% / (16/9));
}

.playerBig__player > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playerBig__overlay {
  cursor: default;
}
